<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web developer</title>
</head>

<body>
  <section class="started">
    <div class="started-snowflakes">
      <%= _.template(require('./html-includes/started-snowflakes.html').default)() %>
    </div>
    <div class="started-gifts">
      <img src="img/started-gifts.svg" alt="">
    </div>
    <div class="started-snowman">
      <%= _.template(require('./html-includes/snowman.html').default)() %>
    </div>
    <div class="started-gnomes">
      <%= _.template(require('./html-includes/gnomes.html').default)() %>
    </div>


    <div class="started-cloud started-cloud-top">
      <img src="img/started-cloud-top.svg" alt="">
    </div>
    <div class="started-cloud started-cloud-bottom started-cloud-bottom-1">
      <img src="img/started-cloud-bottom-1.svg" alt="">
    </div>
    <div class="started-cloud started-cloud-bottom started-cloud-bottom-2">
      <img src="img/started-cloud-bottom-2.svg" alt="">
    </div>
    <div class="started-cloud started-cloud-bottom started-cloud-bottom-3">
      <img src="img/started-cloud-bottom-3.svg" alt="">
    </div>
    <div class="started-cloud started-cloud-bottom started-cloud-bottom-4">
      <img src="img/started-cloud-bottom-4.svg" alt="">
    </div>

    <div class="started-logo">
      <img src="img/started-logo.svg" alt="">
    </div>
    <div class="started-subtitle subtitle">- Ну что, пора?</div>
    <div class="started-title title">
      - Пока нет, до Нового Года еще:
    </div>
    <div class="started-timer timer">
      <div class="timer-item">
        <div class="timer-item-num">
          <div class="timer-item-background">
            <img src="img/timer-item-bg.svg" alt="">
          </div>
          <div class="timer-item-value" id="days">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="days-text">дней</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="days-alt">проектов</div>
        </div>
      </div>
      <div class="timer-item">
        <div class="timer-item-num">
          <div class="timer-item-background">
            <img src="img/timer-item-bg.svg" alt="">
          </div>
          <div class="timer-item-value" id="hours">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="hours-text">часов</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="hours-alt">созвонов</div>
        </div>
      </div>
      <div class="timer-item">
        <div class="timer-item-num">
          <div class="timer-item-background">
            <img src="img/timer-item-bg.svg" alt="">
          </div>
          <div class="timer-item-value" id="minutes">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="minutes-text">минут</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="minutes-alt">чашек кофе</div>
        </div>
      </div>
    </div>
  </section>

  <section class="recommendation">
    <div class="grid sm:grid-cols-2 lg:grid-cols-6 gap-8">
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/1.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Отпустите</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">ситуацию</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Не успеваете закрыть дедлайны?
            Убраться в спальне? Купить подарок?
            Забейте! Новый год - это праздник,
            а не голодные игры. Кайфуйте!
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/2.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Подумайте о своём</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">здоровье</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Запланируйте дни под отдых
            от нескончаемого праздника...
            Чтобы потом снова нарушить свои
            планы, как и в прошлом году
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/3.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Коты ведь тоже</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">как люди</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Купите побольше игрушек и повесьте
            их пониже, чтобы ваш шерстяной тоже
            смог в полной мере насладиться
            атмосферой праздника
          </div>
        </div>
      </div>
      <div class="recommendation-item recommendation-item-lg lg:col-span-3">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/4.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Конечно, не забудьте</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">украсить дом!</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Покупать игрушки в супермаркете это детский сад.
            Сели и сделали что-то сами, независимо от того, оттуда
            у вас растут руки или не оттуда!
          </div>
        </div>
      </div>
      <div class="recommendation-item recommendation-item-lg lg:col-span-3">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/5.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Помните о главном, о своих</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">любимых людях</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            С кем бы вы хотели отпраздновать Новый год? С коллегами?
            С друзьями? С семьей? С соседями? С котом и собакой?
            Отлично! Цените и любите их
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/6.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Займитесь</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">спортом</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Чтобы не набрать вес после
            праздников, скиньте его сейчас!
            Освободите место для любимых
            салатиков. Переиграно и уничтожено!
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/7.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Не забудьте</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">погрустить!</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Психологи утверждают, что
            это поможет организоваться
            и самомотивироваться. Но это
            не точно, лучше, конечно, веселиться!
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/8.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Следите</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">за временем</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Не позвольте предновогодней
            суматохе заставить вас нарушить
            традиции и пропустить самое главное!
            Шампанского всем!
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="postcard">
    <div class="postcard-subtitle subtitle text-center">Мы сделали для ваших клиентов</div>
    <div class="postcard-title title text-center">
      Новогоднюю открытку!
    </div>
    <form class="postcard-image">
      <div class="postcard-logo postcard-logo-1">
        <img src="img/white-logo.svg" alt="">
      </div>
      <div class="postcard-logo postcard-logo-2">
        <img src="img/white-logo.svg" alt="">
      </div>
      <div class="postcard-logo postcard-logo-3">
        <img src="img/white-logo.svg" alt="">
      </div>
      <div class="postcard-dragon postcard-dragon-1">
        <img src="img/dragon-1.svg" alt="">
      </div>
      <div class="postcard-dragon postcard-dragon-2">
        <img src="img/dragon-2.svg" alt="">
      </div>
      <div class="postcard-left">
        <img src="img/postcard-left.svg" alt="">
      </div>
      <div class="postcard-top">
        <img src="img/postcard-top.svg" alt="">
      </div>
      <div class="postcard-right">
        <img src="img/postcard-right.svg" alt="">
      </div>
      <div class="postcard-bottom">
        <img src="img/postcard-bottom.svg" alt="">
      </div>
      <div class="postcard-snowflakes">
        <%= _.template(require('./html-includes/postcard-snoflakes.html').default)() %>
      </div>

      <div class="postcard-image-title relative">
        Ё-моё, с Новым годом, коллеги!
      </div>
      <div class="font-alt font-medium opacity-80 text-2xl">
        С пожеланием успехов в работе и отдыхе
      </div>
      <div class="postcard-image-subtitle relative mt-8">Напишите, от кого открытка</div>
      <input required type="text" class="postcard-image-input input relative mt-4 text-center italic" placeholder="например, ООО Лучшая компания на свете">
      <button type="submit" class="btn btn-gradient postcard-image-btn relative mt-6 font-bold px-10 rounded-xl">Скачать открытку</button>
    </form>
  </section>

  <section class="feedback">
    <div class="feedback-snowflakes feedback-snowflakes-1">
      <%= _.template(require('./html-includes/feedback-left.html').default)() %>
    </div>
    <div class="feedback-snowflakes feedback-snowflakes-2">
      <%= _.template(require('./html-includes/feedback-right.html').default)() %>
    </div>
    <div class="feedback-subtitle subtitle text-center">Также вы можете</div>
    <div class="feedback-title title text-center">
      Поздравить Студию К.И.Т
    </div>
    <form class="feedback-form">
      <label class="w-full block">
        <div class="font-semibold mb-3">От кого</div>
        <input type="text" class="input w-full rounded-xl" placeholder="например, ООО Лучшая компания на свете">
      </label>
      <label class="w-full block mt-5">
        <div class="font-semibold mb-3">Поздравление</div>
        <textarea class="input w-full rounded-xl h-56" placeholder="Напишите поздравление..."></textarea>
      </label>
      <button class="btn btn-gradient font-bold rounded-xl w-full mt-5" type="submit">Отправить</button>

      <div class="text-center mt-5 opacity-80 max-sm:text-sm">
        Отправляя поздравление вы даете согласие на то, чтобы
        прочитавший его почувствовал радость и ваше тепло
      </div>
    </form>
  </section>

  <section class="reviews">
    <div class="reviews-title title text-center">
      Ваши прекрасные поздравления
    </div>

    <div class="reviews-slider swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <% for(let i=0; i < 12; i++){ %>
        <div class="swiper-slide px-2 sm:px-3">
          <div class="reviews-item">
            <div class="flex items-center mb-5 md:mb-10">
              <img src="img/avatar-1.png" alt="" class="d-block mr-5">
              <div class="text-sm md:text-xl font-bold">Ирина Новикова</div>
            </div>
            <div class="leading-normal text-xs md:text-base">
              Пусть в новом году вам сопутствует удача, успех и достаток. Наслаждайтесь каждым мгновением вашей жизни,
              будьте с любимыми, окружайте себя и своих близких теплом и заботой, согревайте их своей любовью, а они в
              ответ согреют вас. Будьте счастливы, с Новым годом!

              И кстати. Сделайте пожалуйста баннер
              с акцией, тз пока нет, вы сделайте, а мы посмотрим и тогда составим
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>


  <section class="footer">
    <%= _.template(require('./html-includes/footer-snowflakes.html').default)() %>
    <div class="footer-subtitle text-center subtitle">В свою очередь, вся наша команда</div>
    <div class="footer-title text-center title">
      сердечно поздравляет вас
      <div class="sm:-mt-6 max-sm:inline">с наступающим Новым Годом!</div>
    </div>
    <div class="max-sm:text-sm md:text-lg text-center mt-8">
      Спасибо за бесценный опыт плодотворного сотрудничества, мы очень рады, <br class="max-sm:hidden">
      что работаем вместе с вами. Искренне желаем дальнейшего процветания, успехов, <br class="max-sm:hidden">
      счастья и улыбок. И пусть в следующем году у вас реализуются <br class="max-sm:hidden">
      все грядущие стремления и начинания!
    </div>

    <%= _.template(require('./html-includes/footer-tree.html').default)() %>
    <%= _.template(require('./html-includes/footer-santa.html').default)() %>
    <div class="footer-gnomes">
      <%= _.template(require('./html-includes/gnomes.html').default)() %>
    </div>
    <img src="img/footer-snow.svg" alt="" class="footer-snow">
  </section>

</body>

</html>