<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web developer</title>
</head>

<body>
  <section class="started">
    <div class="started-clouds">

      <img src="img/started-cloud-1.svg" alt="" class="started-cloud started-cloud-1">
      <img src="img/started-cloud-1.svg" alt="" class="started-cloud started-cloud-2">
      <img src="img/started-cloud-1.svg" alt="" class="started-cloud started-cloud-3">
      <img src="img/started-cloud-2.svg" alt="" class="started-cloud started-cloud-4">
      <img src="img/started-cloud-2.svg" alt="" class="started-cloud started-cloud-5">
      <div class="started-sun animate-ping"></div>
      <div class="started-sun "></div>
    </div>

    <img src="img/started-flower-1.svg" alt="" class="started-flower started-flower-1  animate-bounce">
    <img src="img/started-flower-2.svg" alt="" class="started-flower started-flower-2  animate-bounce">
    <img src="img/started-flower-3.svg" alt="" class="started-flower started-flower-3  animate-bounce">
    <img src="img/started-flower-4.svg" alt="" class="started-flower started-flower-4  animate-bounce">
    <img src="img/started-flower-2.svg" alt="" class="started-flower started-flower-5  animate-bounce">
    <img src="img/started-flower-3.svg" alt="" class="started-flower started-flower-6  animate-bounce">

    <img src="img/started-grass.svg" alt="" class="started-grass">
    <div class="started-ellipse"></div>
    <img src="img/footer-dude.svg" alt="" class="started-dude">


    <div class="started-logo">
      <img src="img/started-logo.svg" alt="">
    </div>
    <div class="started-subtitle subtitle">- А мы уже купили цветы нашим ми-ми-милым дамам?</div>
    <div class="started-title title">
      - Пока нет, до 8 марта еще:
    </div>
    <div class="started-timer timer">
      <div class="timer-item">
        <div class="timer-item-num">

          <div class="timer-item-value" id="days">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="days-text">дней</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="days-alt">проектов</div>
        </div>
      </div>
      <div class="timer-item">
        <div class="timer-item-num">

          <div class="timer-item-value" id="hours">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="hours-text">часов</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="hours-alt">созвонов</div>
        </div>
      </div>
      <div class="timer-item">
        <div class="timer-item-num">

          <div class="timer-item-value" id="minutes">33</div>
        </div>
        <div class="sm:mt-4 text-center">
          <div class="xl:text-xl max-sm:text-sm line-through" id="minutes-text">минут</div>
          <div class="xl:text-xl max-sm:text-sm sm:mt-0.5 opacity-50" id="minutes-alt">чашек кофе</div>
        </div>
      </div>
    </div>

  </section>

  <section class="recommendation">
    <div class="grid sm:grid-cols-2 lg:grid-cols-6 gap-8">
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/1.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Насладитесь</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">весной</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Работа, домашние дела и прочее -
            отложите это на попозже, а в этот
            замечательный день насладитесь
            лучами солнца и ароматом весны!
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/2.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Проведите время на</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">свежем воздухе</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            На улице солнечно, почти тепло, на душе
            праздник, на календаре - выходной,
            проведите его в приятной атмосфере
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/3.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Радуйтесь</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">как люди</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Праздник - отличный повод побаловать
            себя! Ешьте все, что вам нравится, купите
            яхту, этот день - ваш!
          </div>
        </div>
      </div>
      <div class="recommendation-item recommendation-item-lg lg:col-span-3">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/4.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Конечно, не забудьте</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">украсить дом!</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Поставьте подаренные цветы в вазу, они придадут атмосферы
            праздника и наполнят дом приятным ароматом
          </div>
        </div>
      </div>
      <div class="recommendation-item recommendation-item-lg lg:col-span-3">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/5.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Помните о главном, о своих</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">любимых людях</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Проведите этот день с семьей и не забудьте поздравить
            родственников, даже не самых приятных
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/6.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Весенний </div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">Спорт</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Да кому оно надо...
            Сегодня праздник, отдыхайте!
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/7.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">А может</div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">день красоты?</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            Косметические процедуры - проведите
            праздник с удовольствием
          </div>
        </div>
      </div>
      <div class="recommendation-item lg:col-span-2">
        <div class="recommendation-item-img h-72 relative">
          <img src="img/recommendation/8.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="recommendation-item-content">
          <div class="lg:text-2xl font-bold">Весенняя </div>
          <div class="font-alt text-4xl lg:text-5xl font-medium -mt-2">уборка</div>
          <div class="leading-normal mt-7 max-lg:text-sm">
            отличный момент чтобы выбросить
            новогоднюю елку
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="postcard">
    <div class="postcard-subtitle subtitle text-center">Мы сделали для ваших дам</div>
    <div class="postcard-title title text-center">
      Праздничную открытку!
    </div>
    <form class="postcard-image">
      <div class="postcard-image-title relative">
        С 8 марта, ми-<span class="text-primary">ми-</span>милые дамы!
      </div>
      <div class="font-alt font-medium opacity-80 text-2xl">
        С пожеланием успехов в работе и отдыхе!
      </div>
      <div class="postcard-image-subtitle relative mt-8">Напишите, от кого открытка</div>
      <input required type="text" class="postcard-image-input input relative mt-4 text-center italic" placeholder="например, ООО Лучшая компания на свете">
      <button type="submit" class="btn btn-primary btn-fill postcard-image-btn relative mt-6 font-bold px-10 rounded-xl">Скачать открытку</button>
    </form>
  </section>

  <section class="feedback">
    <div class="feedback-subtitle subtitle text-center">Также вы можете</div>
    <div class="feedback-title title text-center leading-none">
      Поздравить ми-ми-милых дам <br>
      Студии К.И.Т
    </div>
    <form class="feedback-form">
      <label class="w-full block">
        <div class="font-semibold mb-3">От кого</div>
        <input type="text" class="input w-full rounded-xl" placeholder="например, ООО Лучшая компания на свете">
      </label>
      <label class="w-full block mt-5">
        <div class="font-semibold mb-3">Поздравление</div>
        <textarea class="input w-full rounded-xl h-56" placeholder="Напишите поздравление..."></textarea>
      </label>
      <button class="btn btn-primary btn-fill font-bold rounded-xl w-full mt-5" type="submit">Отправить</button>

      <div class="text-center mt-5 opacity-80 text-sm">
        Отправляя поздравление вы даете согласие на то, чтобы
        прочитавший его почувствовал радость и ваше тепло
      </div>
    </form>
  </section>

  <section class="reviews">
    <div class="reviews-title title text-center">
      Ваши прекрасные поздравления
    </div>

    <div class="reviews-slider swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <% for(let i=0; i < 12; i++){ %>
        <div class="swiper-slide px-2 sm:px-3">
          <div class="reviews-item">
            <div class="flex items-center mb-5 md:mb-10">
              <img src="img/avatar-1.png" alt="" class="d-block mr-5">
              <div class="text-sm md:text-xl font-bold">Ирина Новикова</div>
            </div>
            <div class="leading-normal text-xs md:text-base">
              Пусть в новом году вам сопутствует удача, успех и достаток. Наслаждайтесь каждым мгновением вашей жизни,
              будьте с любимыми, окружайте себя и своих близких теплом и заботой, согревайте их своей любовью, а они в
              ответ согреют вас. Будьте счастливы, с Новым годом!

              И кстати. Сделайте пожалуйста баннер
              с акцией, тз пока нет, вы сделайте, а мы посмотрим и тогда составим
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>


  <section class="footer">

    <img src="img/footer-flower-1.svg" alt="" class="footer-flower footer-flower-1">
    <img src="img/footer-flower-2.svg" alt="" class="footer-flower footer-flower-2">
    <img src="img/footer-flower-3.svg" alt="" class="footer-flower footer-flower-3">
    <img src="img/footer-flower-4.svg" alt="" class="footer-flower footer-flower-4">
    <img src="img/footer-grass.svg" alt="" class="footer-grass">
    <img src="img/footer-dude.svg" alt="" class="footer-dude">

    <div class="footer-subtitle text-center subtitle relative">В свою очередь, вся наша команда</div>
    <div class="footer-title text-center title relative">
      сердечно поздравляет вас
      <div class="sm:-mt-6 max-sm:inline"> с международным женским днем!</div>
    </div>
    <div class="max-sm:text-sm md:text-lg text-center mt-8 relative">
      Дорогие дамы, спасибо за бесценный опыт плодотворного сотрудничества, мы очень рады, <br class="max-sm:hidden">
      что работаем вместе с вами. Искренне желаем дальнейшего процветания, успехов, <br class="max-sm:hidden">
      счастья и улыбок. И пусть у вас реализуются все грядущие стремления и начинания!

    </div>
  </section>


</body>

</html>