body {
  --bg1      : #E7E7E7;
  --bg2      : #F4F4F4;
  --bg3      : #fff;
  --text     : theme('colors.black');
  --font-base: 'Montserrat', arial, helvetica, sans-serif;
  --font-alt : 'Sweet Mavka Script', arial, helvetica, sans-serif;

  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg3);
  font-family   : var(--font-base);
  color         : var(--text);

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1 : #181818;
  --bg2 : #282828;
  --bg3 : #323232;
  --text: #fff;

}

svg {
  pointer-events: none;
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    text-underline-offset: 4px;

    @media(hover) {
      &:hover {
        text-decoration: underline;
        opacity        : 1;
      }
    }
  }

  .title {
    font-family: var(--font-alt);
    font-size  : 68px;
    font-weight: 500;
    line-height: 1.5;



    @media (max-width:theme('screens.xl')) {
      font-size: 58px;
    }

    @media (max-width:theme('screens.lg')) {
      font-size: 52px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 42px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 36px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 30px;
    }
  }

  .subtitle {
    font-size  : 26px;
    font-weight: 500;
    line-height: 1.1;

    @media (max-width:theme('screens.xl')) {
      font-size: 20px;
    }

    @media (max-width:theme('screens.lg')) {
      font-size: 18px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 16px;
    }
  }


  .btn-gradient {
    background: linear-gradient(var(--button-gradient-deg, 118deg), #EF65A9 11.83%, rgba(0, 0, 0, 0) 89.55%), #265EFD;
    color     : #fff;

    @media(hover) {
      &:hover {
        background: linear-gradient(var(--button-gradient-deg, 118deg), #EF6565 11.83%, rgba(0, 0, 0, 0) 89.55%), #D610E8;
      }
    }
  }
}

.started {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  position      : relative;
  height        : 1032px;
  overflow      : hidden;
  padding-top   : 48px;
  background    : #D9EFF4;

  @media (max-width:theme('screens.xl')) {
    height: 800px;
  }

  @media (max-width:theme('screens.lg')) {
    height        : auto;
    padding-bottom: 0;

  }


  &-sun {
    position          : absolute;
    width             : 312px;
    height            : 312px;
    border-radius     : 50%;
    background        : #FFC249;
    left              : calc(50% - 312px / 2);
    top               : -141px;
    animation-duration: 3s;


    @media(max-width:theme('screens.lg')) {
      width : 240px;
      height: 240px;
      top   : -100px;
      left  : calc(50% - 240px / 2);
    }
  }

  &-logo {
    position: relative;
  }

  &-subtitle {
    position   : relative;
    margin-top : 178px;
    font-size  : 36px;
    font-weight: 500;
    line-height: 1.1;
    transition : opacity .5s;
    text-align : center;

    @media (max-width:theme('screens.xl')) {
      margin-top: 110px;
      font-size : 30px;
    }

    @media (max-width:theme('screens.lg')) {
      font-size : 24px;
      margin-top: 70px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 18px;
    }
  }

  &-title {
    position  : relative;
    margin-top: -3px;
    text-align: center;
    transition: opacity 1s .75s;
    color     : #EA217A;

    @media (max-width:theme('screens.sm')) {
      margin-top: 4px;
    }
  }

  &-timer {
    position  : relative;
    margin-top: 56px;
    transition: opacity 1s 1.35s;

    @media (max-width:theme('screens.xl')) {
      margin-top: 30px;
    }

    @media (max-width:theme('screens.sm')) {
      margin-top: 10px;
    }
  }

  &-clouds {
    position: absolute;
    inset   : 0;
  }

  &-cloud {
    @apply animate-pulse;

    animation-duration: 4s;

    position: absolute;

    &-1 {
      width: 427px;
      top  : 0;
      right: calc(50% + 542px);

    }

    &-2 {
      width          : 363px;
      top            : 0;
      right          : calc(50% + 111px);
      animation-delay: .2s;
    }

    &-3 {
      width          : 427px;
      top            : 0;
      left           : calc(50% + 242px);
      animation-delay: .1s;
    }

    &-4 {
      width          : 390px;
      top            : 113px;
      left           : calc(50% - 147px);
      animation-delay: .3s;
    }

    &-5 {
      width          : 316px;
      top            : 88px;
      left           : calc(50% + 613px);
      animation-delay: .4s;
    }
  }

  &-grass {
    position: absolute;
    bottom  : 0;
    left    : 0;
    width   : 100%;
  }

  &-ellipse {
    position     : absolute;
    width        : calc(100% + 40px + 40px);
    height       : 168px;
    bottom       : -108px;
    left         : -40px;
    border-radius: 50%;
    background   : #fff;

    @media(max-width:theme('screens.lg')) {
      height: 100px;
      bottom: -60px;
    }

    @media (max-width:theme('screens.sm')) {
      height: 50px;
      bottom: -30px;
    }
  }


  &-flower {
    position          : absolute;
    animation-duration: 3s;

    &-1 {
      top  : 242px;
      right: 90%;
    }

    &-2 {
      top            : 448px;
      right          : 80%;
      animation-delay: .5s;
    }

    &-3 {
      top            : 615px;
      right          : 85%;
      animation-delay: .75s;
    }

    &-4 {
      top            : 248px;
      left           : 92%;
      animation-delay: 1s;
    }

    &-5 {
      top            : 435px;
      left           : 75%;
      animation-delay: 1.5s;
    }

    &-6 {
      top            : 600px;
      left           : 80%;
      animation-delay: 1.75s;
    }
  }

  &-dude {
    position : absolute;
    width    : 412px;
    left     : 65%;
    bottom   : 48px;
    transform: rotateZ(2deg);


    @media (max-width:theme('screens.lg')) {
      position    : relative;
      width       : auto;
      max-width   : 75%;
      left        : auto;
      margin-left : auto;
      margin-right: auto;
      order       : 10;
      margin-top  : 60px;
    }
  }

  &-dude,
  &-grass,
  &-sun,
  &-clouds,
  &-flower,
  &-logo {
    transition: opacity 1s 1.5s;
  }

}



body:not(.loaded) .started {
  // temp

  &-grass,
  &-dude,
  &-sun,
  &-flower,
  &-snowflakes,
  &-title,
  &-timer,
  &-clouds,
  &-subtitle,
  &-logo {
    opacity  : 0 !important;
    animation: none;
  }
}

.timer {
  display        : flex;
  justify-content: center;
  gap            : 32px;

  @media (max-width:theme('screens.md')) {
    gap: 20px;
  }

  @media (max-width:theme('screens.sm')) {
    justify-content: space-around;
    width          : 100%;
  }

  &-item {
    display       : flex;
    align-items   : center;
    flex-direction: column;


    @media (max-width:theme('screens.sm')) {
      width: calc(100% / 3);
    }

    &-num {
      display      : flex;
      position     : relative;
      width        : 190px;
      height       : 160px;
      border       : 2px solid #fff;
      border-radius: 100px;

      @media (max-width:theme('screens.xl')) {
        width : 150px;
        height: 120px;
      }

      @media (max-width:theme('screens.md')) {
        width : 130px;
        height: 100px;
      }

      @media (max-width:theme('screens.sm')) {
        width        : auto;
        height       : auto;
        padding-left : 24px;
        padding-right: 24px;
      }
    }

    &-background {
      position: absolute;
      inset   : 0;

      @media (max-width:theme('screens.sm')) {
        display: none;
      }

      img {
        @apply absolute-fit;
      }
    }

    &-value {
      position   : relative;
      margin     : auto;
      color      : #EA217A;
      font-size  : 68px;
      font-weight: 500;

      @media (max-width:theme('screens.xl')) {
        font-size: 52px;
      }

      @media (max-width:theme('screens.md')) {
        font-size: 42px;
      }

      @media (max-width:theme('screens.sm')) {
        font-size  : 36px;
        font-weight: 600;
      }
    }
  }
}

.recommendation {
  padding-top   : 80px;
  padding-bottom: 60px;

  background:
    radial-gradient(circle at calc(100% + 500px) center, #BBFCF4 400px, rgba(0, 0, 0, 0) 700px),
    radial-gradient(circle at -500px 500px, #E6D2FF 400px, rgba(0, 0, 0, 0) 700px);

  @media (max-width:theme('screens.md')) {
    padding-top   : 40px;
    padding-bottom: 40px;
  }

  &-item {
    overflow     : hidden;
    border-radius: 20px;

    &-img {
      overflow: hidden;

      &::before {
        content      : '';
        position     : absolute;
        bottom       : -90px;
        left         : 0;
        width        : 100%;
        height       : 180px;
        background   : #fff;
        border-radius: 50%;
        z-index      : 2;


        @media (max-width:theme('screens.sm')) {
          height: 100px;
          bottom: -50px;
        }
      }



      img {
        height: 120%;
      }
    }

    &-content {
      position  : relative;
      margin-top: -24px;
      padding   : 0 20px 10px;
      background: #fff;
      z-index   : 3;
      text-align: center;

      @media (max-width:theme('screens.sm')) {
        margin-top   : 0;
        padding-right: 15px;
        padding-left : 15px;
      }

    }

  }

}

.reviews {
  padding: 50px 0;

  &-title {
    margin-bottom: 80px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-slider {
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      box-sizing: content-box;
      width     : 394px;

      @media (max-width:theme('screens.sm')) {
        width: 300px;
      }
    }
  }

  &-item {
    padding      : 48px 32px;
    background   : #FDD;
    border-radius: 20px;

    @media (max-width:theme('screens.sm')) {
      padding      : 32px 20px;
      border-radius: 32px;
    }
  }
}

.feedback {
  position      : relative;
  overflow      : hidden;
  padding-top   : 50px;
  padding-bottom: 50px;
  background    :
    radial-gradient(circle at -400px center, #FFEFD7 300px, rgba(0, 0, 0, 0) 500px),
    radial-gradient(circle at calc(100% + 400px) center, #FFCAF3 300px, rgba(0, 0, 0, 0) 500px);

  &-title {
    margin-bottom: 68px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-snowflakes {
    position      : absolute;
    pointer-events: none;

    &-1 {
      top  : 20%;
      right: calc(50% + 320px);
    }

    &-2 {
      top : 20%;
      left: calc(50% + 320px);
    }
  }

  &-form {
    width       : 478px;
    max-width   : 100%;
    margin-right: auto;
    margin-left : auto;
  }
}

.postcard {
  padding-top   : 50px;
  padding-bottom: 50px;

  &-title {
    margin-bottom: 80px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-image {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    position      : relative;
    height        : 620px;
    overflow      : hidden;
    padding-top   : 64px;
    padding-right : 15px;
    padding-left  : 15px;
    background    : url("../img/postcard-bg.jpg") no-repeat center / cover, #FBD0B7;
    border-radius : 20px;
    text-align    : center;

    @media (max-width:theme('screens.lg')) {
      // padding-top: 220px;
    }

    @media (max-width:theme('screens.sm')) {
      padding-top: 20px;
    }

    &-title {
      font-family: var(--font-alt);
      font-size  : 48px;
      font-weight: 500;
      line-height: 1.1;

      @media (max-width:theme('screens.lg')) {
        font-size: 40px;
      }

      @media (max-width:theme('screens.sm')) {
        font-size: 32px;
      }
    }

    &-subtitle {
      font-weight: 600;
    }

    &-input {
      width        : 478px;
      max-width    : 100%;
      background   : #FFF;
      border       : 1px solid rgba(0, 0, 0, 0.10);
      border-radius: 12px;

      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &-snowflakes {
    position: absolute;
    inset   : 0;
  }

  &-top {
    position: absolute;
    top     : 0;
    left    : calc(50% - 298px / 2);
    width   : 298px;
  }

  &-left {
    position: absolute;
    bottom  : 0;
    left    : 0;

    @media (max-width:theme('screens.lg')) {
      left: -150px;
    }

    @media (max-width:theme('screens.sm')) {
      bottom: -100px;
    }
  }

  &-right {
    position: absolute;
    right   : 0;
    bottom  : 0;

    @media (max-width:theme('screens.lg')) {
      right: -150px;
    }

    @media (max-width:theme('screens.sm')) {
      display: none;
    }
  }

  &-bottom {
    position: absolute;
    bottom  : 0;
  }

  &-logo {
    position: absolute;

    &-1 {
      top      : 36px;
      left     : 36px;
      transform: rotate(30deg);
    }

    &-2 {
      top      : 100px;
      right    : 100px;
      transform: rotate(-15deg);
    }

    &-3 {
      bottom   : 90px;
      left     : calc(50% + 176px);
      transform: rotate(-30deg);
    }
  }

  &-dragon {
    position: absolute;

    &-1 {
      top  : 76px;
      right: 70%;
    }

    &-2 {
      top : 162px;
      left: 70%;
    }
  }
}

.footer {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  position      : relative;
  overflow      : hidden;
  padding-top   : 50px;
  padding-bottom: 570px;
  background    : linear-gradient(180deg, #fff 0%, #DEEDF8 100%);

  @media (max-width:theme('screens.md')) {
    padding-bottom: 500px;
  }

  @media (max-width:theme('screens.sm')) {
    padding-bottom: 360px;
  }

  &-grass {
    position: absolute;
    left    : 0;
    bottom  : 0;
    width   : 100%;

  }

  &-dude {
    position: absolute;
    bottom  : 0;
    left    : calc(50% + 172px);

    @media (max-width:theme('screens.lg')) {
      left     : 50%;
      max-width: 80%;
      transform: translateX(-50%);
    }
  }

  &-flower {
    position: absolute;

    &-1 {
      top  : 80px;
      right: 90%;
    }

    &-2 {
      top  : 322px;
      right: 80%;
    }

    &-3 {
      top : 24px;
      left: 90%;
    }

    &-4 {
      top : 360px;
      left: 80%;
    }
  }
}

.dialog-success {
  width        : 500px;
  max-width    : 100%;
  padding      : 50px 15px 460px;
  background   : url("../img/dialog-success.png") no-repeat center bottom / contain, #D9EFF4;
  border-radius: 20px;

  @media (max-width:theme('screens.sm')) {
    padding-top   : 40px;
    padding-bottom: 300px;
  }

  &-subtitle {
    font-size  : 24px;
    font-weight: 700;
    text-align : center;

    @media (max-width:theme('screens.lg')) {
      font-size: 16px;
    }
  }

  &-title {
    margin-top   : -0.3em;
    margin-bottom: -0.1em;
    font-weight  : 500;
    text-align   : center;

    @media (max-width:theme('screens.sm')) {
      font-size: 36px;
    }
  }
}


.header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding-top    : 42px;

  @media (max-width:theme('screens.md')) {
    padding-top: 16px;
  }

  &-logo {
    @media (max-width:theme('screens.sm')) {
      width: 100px;
    }
  }

  &-sign {
    @media (max-width:theme('screens.sm')) {
      width: 100px;
    }
  }

  &-phone {
    @media (max-width:theme('screens.sm')) {
      width: 180px;
    }
  }
}

.plug-started {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  position      : relative;
  text-align    : center;
  padding-top   : 286px;
  flex-grow     : 1;
  padding-bottom: 180px;

  @media (max-width:theme('screens.md')) {
    padding-bottom: 80px;
  }

  @media (max-width:theme('screens.sm')) {
    padding-top: 330px;
    margin-top : -44px;
    overflow   : hidden;
  }

  @media (max-width:theme('screens.xs')) {
    padding-bottom: 32px;
    padding-top   : 304px;
    overflow      : hidden;
  }

  @media (max-width:theme('screens.sm')) {
    padding-top    : 220px;
    padding-bottom : 200px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }


  &-title {
    margin-bottom: 46px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 20px;
    }

    @media (max-width:theme('screens.xl')) {
      font-size: 50px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 32px;
    }
  }

  &-subtitle {
    font-weight: 400;
    font-size  : 20px;

    @media (max-width:theme('screens.lg')) {
      font-size: 16px;
    }

    @media (max-width:theme('screens.sm')) {
      br {
        display: none;
      }
    }

    @media (max-width:theme('screens.xl')) {
      font-size: 16px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 14px;
    }
  }

  &-img {
    position      : absolute;
    animation     : fly 6s ease infinite both;
    pointer-events: none;

    @media (max-width:theme('screens.md')) {
      width: 180px;
    }

    @media (max-width:theme('screens.sm')) {
      width: 120px;
    }

    &--1 {
      top  : 280px;
      right: calc(50% + 450px);

      @media (max-width:theme('screens.xl')) {
        right: calc(50% + 350px);

      }

      @media (max-width:theme('screens.md')) {
        inset: auto auto 20px 20px
      }
    }

    &--2 {
      top : -40px;
      left: calc(50% - 180px);

      @media (max-width:theme('screens.md')) {
        left: calc(50% - 90px);
        top : 60px;
      }

      @media (max-width:theme('screens.sm')) {
        left: calc(50% - 60px);
        top : 100px;
      }
    }

    &--3 {
      top : 320px;
      left: calc(50% + 420px);

      @media (max-width:theme('screens.xl')) {
        left: calc(50% + 320px);

      }

      @media (max-width:theme('screens.md')) {
        inset: auto 20px 20px auto;

      }
    }
  }


}