body {
  --bg1      : #E7E7E7;
  --bg2      : #F4F4F4;
  --bg3      : #fff;
  --text     : theme('colors.black');
  --font-base: 'Montserrat', arial, helvetica, sans-serif;
  --font-alt : 'Sweet Mavka Script', arial, helvetica, sans-serif;

  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg3);
  font-family   : var(--font-base);
  color         : var(--text);

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1 : #181818;
  --bg2 : #282828;
  --bg3 : #323232;
  --text: #fff;

}

svg {
  pointer-events: none;
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    text-underline-offset: 4px;

    @media(hover) {
      &:hover {
        text-decoration: underline;
        opacity        : 1;
      }
    }
  }

  .title {
    background:
      linear-gradient(-89.69deg, rgba(117, 191, 243, 0.6) 0%, rgba(117, 191, 243, 0) 37.842%),
      linear-gradient(96.25deg, rgba(255, 97, 97, 0.6) 0%, rgba(255, 97, 97, 0) 60.416%),
      theme('colors.black');
    background-clip: text;
    font-family    : var(--font-alt);
    font-size      : 68px;
    font-weight    : 500;
    line-height    : 1.5;

    -webkit-text-fill-color: transparent;
    /* stylelint-disable-next-line property-no-unknown */
    text-fill-color        : transparent;

    @media (max-width:theme('screens.xl')) {
      font-size: 58px;
    }

    @media (max-width:theme('screens.lg')) {
      font-size: 52px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 42px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 36px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 30px;
    }
  }

  .subtitle {
    font-size  : 26px;
    font-weight: 500;
    line-height: 1.1;

    @media (max-width:theme('screens.xl')) {
      font-size: 20px;
    }

    @media (max-width:theme('screens.lg')) {
      font-size: 18px;
    }

    @media (max-width:theme('screens.md')) {
      font-size: 16px;
    }
  }


  .btn-gradient {
    background: linear-gradient(var(--button-gradient-deg, 118deg), #EF65A9 11.83%, rgba(0, 0, 0, 0) 89.55%), #265EFD;
    color     : #fff;

    @media(hover) {
      &:hover {
        background: linear-gradient(var(--button-gradient-deg, 118deg), #EF6565 11.83%, rgba(0, 0, 0, 0) 89.55%), #D610E8;
      }
    }
  }
}

.started {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  position      : relative;
  height        : 1032px;
  overflow      : hidden;
  padding-top   : 48px;
  background    : linear-gradient(180deg, #E4EBF5 0%, rgba(228, 235, 245, 0.00) 100%);

  @media (max-width:theme('screens.xl')) {
    height: 800px;
  }

  @media (max-width:theme('screens.lg')) {
    height     : 700px;
    padding-top: 32px;
  }

  @media (max-width:theme('screens.sm')) {
    height        : auto;
    padding-bottom: 400px;
  }


  &-logo {
    position: relative;
  }

  &-subtitle {
    position   : relative;
    margin-top : 178px;
    font-size  : 36px;
    font-weight: 500;
    line-height: 1.1;
    transition : opacity .5s;

    @media (max-width:theme('screens.xl')) {
      margin-top: 110px;
      font-size : 30px;
    }

    @media (max-width:theme('screens.lg')) {
      margin-top: 80px;
      font-size : 24px;
    }

    @media (max-width:theme('screens.md')) {
      margin-top: 40px;
      font-size : 18px;
    }
  }

  &-title {
    position  : relative;
    margin-top: -3px;
    text-align: center;
    transition: opacity 1s .75s;

    @media (max-width:theme('screens.sm')) {
      margin-top: 4px;
    }
  }

  &-timer {
    position  : relative;
    margin-top: 56px;

    @media (max-width:theme('screens.xl')) {
      margin-top: 30px;
    }

    @media (max-width:theme('screens.sm')) {
      margin-top: 10px;
    }
  }

  &-cloud {
    position: absolute;

    &-top {
      position: absolute;
      top     : 0;

      @media (max-width:theme('screens.lg')) {
        top: -40px;
      }

      @media (max-width:theme('screens.md')) {
        display: none;
      }
    }

    &-bottom {
      bottom: -1px;

      @media (max-width:theme('screens.sm')) {
        display: none;
      }

      &-1 {
        right    : calc(50% + 257px);
        width    : calc(100% * 716 / 1920);
        max-width: 716px;

        @media (max-width:theme('screens.xl')) {
          right: calc(50% + 157px);
        }

        @media (max-width:theme('screens.lg')) {
          width: 424px;
        }

        @media (max-width:theme('screens.sm')) {
          width: 200px;
        }
      }

      &-2 {
        // right    : calc(50% + 257px);
        width    : calc(100% * 716 / 1920);
        max-width: 716px;

        @media (max-width:theme('screens.lg')) {
          width: 464px;
        }

        @media (max-width:theme('screens.md')) {
          bottom: -32px;
        }

        @media (max-width:theme('screens.sm')) {
          width: 200px;
        }
      }

      &-3 {
        left     : calc(50% + 153px);
        width    : calc(100% * 470 / 1920);
        max-width: 470px;

        @media (max-width:theme('screens.lg')) {
          width: 224px;
        }

        @media (max-width:theme('screens.sm')) {
          width: 200px;
        }
      }

      &-4 {
        left     : calc(50% + 542px);
        width    : calc(100% * 470 / 1920);
        max-width: 470px;

        @media (max-width:theme('screens.xl')) {
          left: calc(50% + 342px);
        }

        @media (max-width:theme('screens.lg')) {
          width: 224px;
        }

        @media (max-width:theme('screens.sm')) {
          width: 200px;
        }
      }
    }
  }

  &-gifts {
    position: absolute;
    bottom  : 36px;
    left    : calc(50% - 300px);
    width   : 581px;

    @media (max-width:theme('screens.xl')) {
      left : calc(50% - 200px);
      width: 400px;
    }

    @media (max-width:theme('screens.lg')) {
      left : calc(50% - 150px);
      width: 300px;
    }

    @media (max-width:theme('screens.md')) {
      display: none;
    }
  }

  &-snowman {
    position      : absolute;
    right         : calc(50% + 274px);
    bottom        : -9px;
    width         : 806px;
    pointer-events: none;

    @media (max-width:theme('screens.xl')) {
      right: calc(50% + 174px);
      width: 600px;

      svg {
        width: 100%;
      }
    }

    @media (max-width:theme('screens.lg')) {
      // right: calc(50% + 124px);
      width: 500px;
    }

    @media (max-width:theme('screens.md')) {
      right : calc(50% - 60px);
      bottom: -60px;
    }

    @media (max-width:theme('screens.sm')) {
      right: auto;
      left : calc(50% - 350px);
      width: 700px;
    }

  }

  &-gnomes {
    position      : absolute;
    bottom        : -36px;
    left          : calc(50% + 274px);
    width         : 700px;
    pointer-events: none;

    @media (max-width:theme('screens.xl')) {
      left : calc(50% + 174px);
      width: 600px;

      svg {
        width: 100%;
      }
    }

    @media (max-width:theme('screens.lg')) {
      // left : calc(50% + 124px);

      width: 500px;
    }

    @media (max-width:theme('screens.md')) {
      left: calc(50% - 60px);
    }

    @media (max-width:theme('screens.sm')) {
      right: auto;
      left : calc(50% - 180px);
      width: 400px;
    }

  }

  &-snowflakes {
    position      : absolute;
    top           : 100px;
    transition    : opacity 1s .75s;
    pointer-events: none;

    @media (max-width:theme('screens.sm')) {
      top: -40px;
    }

    svg {
      max-width: 100%;
    }
  }

  &-timer,
  &-gnomes,
  &-cloud,
  &-snowman,
  &-gifts,
  &-logo {
    transition: opacity 1s 1.5s;
  }
}

body:not(.loaded) .started {
  // temp

  &-snowflakes,
  &-title,
  &-timer,
  &-gnomes,
  &-cloud,
  &-subtitle,
  &-snowman,
  &-gifts,
  &-logo {
    opacity: 0;
  }
}

.timer {
  display        : flex;
  justify-content: center;
  gap            : 32px;

  @media (max-width:theme('screens.md')) {
    gap: 20px;
  }

  @media (max-width:theme('screens.sm')) {
    justify-content: space-around;
    width          : 100%;
  }

  &-item {
    display       : flex;
    align-items   : center;
    flex-direction: column;

    @media (max-width:theme('screens.sm')) {
      width: calc(100% / 3);
    }

    &-num {
      display : flex;
      position: relative;
      width   : 190px;
      height  : 160px;

      @media (max-width:theme('screens.xl')) {
        width : 150px;
        height: 120px;
      }

      @media (max-width:theme('screens.md')) {
        width : 130px;
        height: 100px;
      }

      @media (max-width:theme('screens.sm')) {
        width : auto;
        height: auto;
      }
    }

    &-background {
      position: absolute;
      inset   : 0;

      @media (max-width:theme('screens.sm')) {
        display: none;
      }

      img {
        @apply absolute-fit;
      }
    }

    &-value {
      position               : relative;
      margin                 : auto;
      background             : linear-gradient(118deg, #EF65A9 11.83%, #265EFD 89.55%);
      background-clip        : text;
      font-size              : 68px;
      font-weight            : 500;
      -webkit-text-fill-color: transparent;
      /* stylelint-disable-next-line property-no-unknown */
      text-fill-color        : transparent;

      @media (max-width:theme('screens.xl')) {
        font-size: 52px;
      }

      @media (max-width:theme('screens.md')) {
        font-size: 42px;
      }

      @media (max-width:theme('screens.sm')) {
        font-size  : 40px;
        font-weight: 600;
      }
    }
  }
}

.recommendation {
  padding-top   : 80px;
  padding-bottom: 60px;

  background:
    radial-gradient(circle at calc(100% + 500px) center, #BBFCF4 400px, rgba(0, 0, 0, 0) 700px),
    radial-gradient(circle at -500px 500px, #E6D2FF 400px, rgba(0, 0, 0, 0) 700px);

  @media (max-width:theme('screens.md')) {
    padding-top   : 40px;
    padding-bottom: 40px;
  }

  &-item {
    overflow     : hidden;
    border-radius: 20px;

    &-img {
      // temp

      &::after,
      &::before {
        content       : '';
        position      : absolute;
        bottom        : 0;
        left          : 0;
        width         : 100%;
        padding-bottom: calc(100% * 86 / 390);
        background    : url("../img/recommendation-item-cloud.svg") no-repeat bottom / contain;
        z-index       : 2;
      }

      @media (max-width:theme('screens.sm')) and (min-width:theme('screens.xs')) {
        // temp

        &::after,
        &::before {
          width         : 65%;
          padding-bottom: calc(100% * 86 / 600);
        }

        &::after {
          right: 0;
          left : auto;
        }
      }


      img {
        height: 120%;
      }
    }

    &-content {
      position  : relative;
      margin-top: -12px;
      padding   : 0 40px 10px;
      background: #fff;
      z-index   : 3;

      @media (max-width:theme('screens.sm')) {
        margin-top   : 0;
        padding-right: 15px;
        padding-left : 15px;
      }

    }

    &-lg &-img {
      @screen lg {
        // temp

        &::after,
        &::before {
          width         : 65%;
          padding-bottom: calc(100% * 86 / 600);
        }

        &::after {
          right: 0;
          left : auto;
        }
      }
    }
  }

}

.reviews {
  padding: 50px 0;

  &-title {
    margin-bottom: 80px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-slider {
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      box-sizing: content-box;
      width     : 394px;

      @media (max-width:theme('screens.sm')) {
        width: 300px;
      }
    }
  }

  &-item {
    padding      : 48px 32px;
    background   : #FDD;
    border-radius: 20px;

    @media (max-width:theme('screens.sm')) {
      padding      : 32px 20px;
      border-radius: 32px;
    }
  }
}

.feedback {
  position      : relative;
  overflow      : hidden;
  padding-top   : 50px;
  padding-bottom: 50px;
  background    :
    radial-gradient(circle at -400px center, #FFEFD7 300px, rgba(0, 0, 0, 0) 500px),
    radial-gradient(circle at calc(100% + 400px) center, #FFCAF3 300px, rgba(0, 0, 0, 0) 500px);

  &-title {
    margin-bottom: 68px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-snowflakes {
    position      : absolute;
    pointer-events: none;

    &-1 {
      top  : 20%;
      right: calc(50% + 320px);
    }

    &-2 {
      top : 20%;
      left: calc(50% + 320px);
    }
  }

  &-form {
    width       : 478px;
    max-width   : 100%;
    margin-right: auto;
    margin-left : auto;
  }
}

.postcard {
  padding-top   : 50px;
  padding-bottom: 50px;

  &-title {
    margin-bottom: 80px;

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 40px;
    }
  }

  &-image {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    position      : relative;
    height        : 620px;
    overflow      : hidden;
    padding-top   : 270px;
    padding-right : 15px;
    padding-left  : 15px;
    background    : linear-gradient(104deg, #D7F0FF 0%, #E7F0FF 50.5%, #C9D8F1 100%);
    border-radius : 20px;
    text-align    : center;

    @media (max-width:theme('screens.lg')) {
      padding-top: 220px;
    }

    &-title {
      font-family: var(--font-alt);
      font-size  : 48px;
      font-weight: 500;

      @media (max-width:theme('screens.lg')) {
        font-size: 40px;
      }

      @media (max-width:theme('screens.sm')) {
        font-size: 32px;
      }
    }

    &-subtitle {
      font-weight: 600;
    }

    &-input {
      width        : 478px;
      max-width    : 100%;
      background   : #FFF;
      border       : 1px solid rgba(0, 0, 0, 0.10);
      border-radius: 12px;

      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &-snowflakes {
    position: absolute;
    inset   : 0;
  }

  &-top {
    position: absolute;
    top     : 0;
    left    : calc(50% - 298px / 2);
    width   : 298px;
  }

  &-left {
    position: absolute;
    bottom  : 0;
    left    : 0;

    @media (max-width:theme('screens.lg')) {
      left: -150px;
    }

    @media (max-width:theme('screens.sm')) {
      bottom: -100px;
    }
  }

  &-right {
    position: absolute;
    right   : 0;
    bottom  : 0;

    @media (max-width:theme('screens.lg')) {
      right: -150px;
    }

    @media (max-width:theme('screens.sm')) {
      display: none;
    }
  }

  &-bottom {
    position: absolute;
    bottom  : 0;
  }

  &-logo {
    position: absolute;

    &-1 {
      top      : 36px;
      left     : 36px;
      transform: rotate(30deg);
    }

    &-2 {
      top      : 100px;
      right    : 100px;
      transform: rotate(-15deg);
    }

    &-3 {
      bottom   : 90px;
      left     : calc(50% + 176px);
      transform: rotate(-30deg);
    }
  }

  &-dragon {
    position: absolute;

    &-1 {
      top  : 76px;
      right: 70%;
    }

    &-2 {
      top : 162px;
      left: 70%;
    }
  }
}

.footer {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  position      : relative;
  overflow      : hidden;
  padding-top   : 50px;
  padding-bottom: 680px;
  background    :
    radial-gradient(circle at -100px calc(100% + 300px), #FFCBCB 400px, rgba(0, 0, 0, 0) 700px),
    radial-gradient(circle at calc(100% + 300px) calc(100% + 300px), #CBECFF 400px, rgba(0, 0, 0, 0) 700px);

  @media (max-width:theme('screens.md')) {
    padding-bottom: 500px;
  }

  &-snowflakes {
    pointer-events: none;
  }

  &-tree {
    position: absolute;
    bottom  : 0;
    left    : calc(50% - 979px / 2 + 48px);
    width   : 979px;

    @media (max-width:theme('screens.md')) {
      left : calc(50% - 700px / 2 + 32px);
      width: 700px;
    }
  }

  &-snow {
    position: absolute;
    bottom  : 0;
    left    : 0;

    @media (max-width:theme('screens.md')) {
      bottom: -40px;
      width : 600px;
    }
  }

  &-gnomes {
    position: absolute;
    right   : calc(50% + 180px);
    bottom  : 20px;
    width   : 580px;

    @media (max-width:theme('screens.md')) {
      right : calc(50% - 220px);
      bottom: -65px;
      width : 500px;

    }

    @media (max-width:theme('screens.sm')) {
      right: calc(50% - 250px);
    }

    .gnome-snowflakes,
    .gnome-background {
      display: none;

    }
  }

  &-santa {
    position: absolute;
    bottom  : 0;
    left    : calc(50%);
    width   : 371px;

    @media (max-width:theme('screens.md')) {
      left : calc(25%);
      width: 280px;
    }
  }
}

.dialog-success {
  width        : 500px;
  max-width    : 100%;
  padding      : 80px 15px 460px;
  background   : url("../img/dialog-success.png") no-repeat center bottom / contain, #E4EBF5;
  border-radius: 20px;

  @media (max-width:theme('screens.sm')) {
    padding-top   : 40px;
    padding-bottom: 300px;
  }

  &-subtitle {
    font-size  : 24px;
    font-weight: 700;
    text-align : center;

    @media (max-width:theme('screens.lg')) {
      font-size: 16px;
    }
  }

  &-title {
    margin-top   : -0.3em;
    margin-bottom: -0.1em;
    font-weight  : 500;
    text-align   : center;

    @media (max-width:theme('screens.sm')) {
      font-size: 36px;
    }
  }
}